footer,
.container_footer,
.container_footer div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

footer {
  color: var(--cor-branco);
  background-color: var(--cor-preto);
  width: 100%;
  color: var(--cor-branco);
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
  overflow-x: hidden;
}

section {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
}

section:first-child {
  justify-content: flex-start;
  align-items: center;
}

section:last-child {
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container_footer {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 380px;
  padding-left: 20px;
  padding-right: 20px;
}

.logo_footer {
  width: 203px;
}

.container_principal_footer {
  width: 100%;
  max-width: 1600px;
  align-items: center;
}

h3 {
  font-size: 20px;
}

.imagensFooter {
  box-shadow: -15px 20px 0px 0px var(--cor-laranja);
  margin-right: 20px;
}

.info_container,
.container_footer img {
  max-height: 220px;
}

.info_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

a:hover {
  text-decoration: underline;
}

span {
  margin-bottom: 5px;
}
